{% extends 'base.html' %}

{% block title %}Sobre Nosotros{% endblock %}

{% block content %}
    <main class="main">
        <h2 class="titulo_paginas">SOBRE INSTINTO TREK</h2>
        <h3 class="nombre">DIEGO CEJAS / GUÍA PROFESIONAL ISAUI</h3>
        <div class="main_nosotros">
            <div class="main_fotos">
            </div>
            <div class="main_text">
                <p>PRESTADOR DE SERVICIOS DE TURISMO ALTERNATIVO DE LA PROVINCIA DE CÓRDOBA. ME DEDICO A RECORRER ARGENTINA DESDE 2012. DESDE LA QUIACA A USHUAIA, REALIZANDO ASCENSIONES Y TRAVESÍAS A LO LARGO DE TODA LA CORDILLERA, Y FORMÁNDOME EN ESTA MARAVILLOSA PROFESIÓN.</p>
            </div>
        </div>
        <h4 class="titulo_paginas subtitulo">«TODAVÍA QUEDAN MUCHOS CAMINOS POR RECORRER»</h4>
    </main>
{% endblock %}
        