<main class="main">
    <h2 class="titulo_paginas"></h2>
    
    <!-- datos para la salida -->
    <div>
        <div class="col_1">
            <h3></h3>
            <p></p>
        </div>
        <div class="col_2">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </div>
    </div>
    <!-- Espacio para poner imagenes -->
    <!-- Espacio para poner imagenes -->
    
    <!-- que incluye y servivios adicionales -->
    <div>
        <div class="col_1">
            <h2 class="h2">¿QUÉ INCLUYE?</h2>
            <div>
                <li>Guía profesional habilitado.</li>
                <li>Seguro de responsabilidad civil y AP.</li>
                <li>Botiquín grupal y personal capacitado en primeros auxilios.</li>
            </div>
        </div>
        <div class="col_2">
            <h2 class="h2">¿QUE NO INCLUYE?</h2>
            <div>
                <li></li>
                <li>Comidas (Llevar almuerzo)</li>
            </div>
        </div>
    </div>
    <!-- descripcion -->
    <div>
        <h2 class="h2">DESCRIPCIÓN</h2>
        <p></p>
    </div>
    <!-- itinerario -->
    <div>
        <p></p>
    </div>
    <!-- equipamiento necesario -->
    <div>

    </div>
    <!-- preguntas frecuentes -->
    <div>

    </div>
    <!-- precio -->
    <div>
        <p></p>
        <p></p>
        <p></p>
    </div>
</main>