{% extends "base.html" %}

{% block title %}Cerro champaqui{% endblock %}

{% block content %}
<h2 class="titulo_paginas">CERRO CHAMPAQUÍ</h2>
<main class="main main_salidas">
    
    <!-- datos para la salida -->
    <div class="grid">
        <div class="col_1">
            <div class="letra titulo_salidas">
                <h2>CIRCUITO CLÁSICO</h2>
                <p>TREKKING 3 DIAS / 2 NOCHES</p>
            </div>
        </div>
        <div class="col_2">
            <div>
                <li>Inicio: Villa Alpina</li>
                <li>Dificultad: media/alta</li>
                <li>Recorrido: 40 kms</li>
                <li>Punto de encuentro: Villa Alpina.</li>
                <li>Hora de Inicio: 9:00 Hs.</li>
                <li>Hora de finalización: 16 hs tercer día.</li>
                <li>Edad: A partir de 15 años.</li>
            </div>
        </div>
    </div>
    <!-- Espacio para poner imagenes -->
    <div class="champis">
        <img src="/static/img/champa_1.jpg" alt="Imagen del Cerro Champaquí">
    </div>
    <!-- Espacio para poner imagenes -->
    
    <!-- que incluye y servivios adicionales -->
    <div class="grid">
        <div class="col_1">
            <h2 class="h2">¿QUÉ INCLUYE?</h2>
            <div>
                <li>Guía profesional habilitado durante toda la excursión.</li>
                <li>Seguro de responsabilidad civil y AP.</li>
                <li>Pernocte en refugios de montaña (Cada pasajero debe contar con su bolsa de dormir)</li>
                <li>Todas las comidas durante la travesía (Desayuno/Merienda – Almuerzo/Cena) Sólo se requiere llevar el almuerzo del primer día.</li>
                <li>Botiquín grupal y personal capacitado en primeros auxilios.</li>
            </div>
        </div>
        <div class="col_1">
            <div class="list">
                <h2 class="h2">SERVICIOS ADICIONALES (opcionales)</h2>
                <li>Traslados</li>
                <li>Servicio de Mulas de carga (recomendado para el disfrute de la actividad, consultar costos).</li>
            </div>
        </div>
    </div>
    <!-- descripcion -->
    <div>
        <h2 class="h2">DESCRIPCIÓN</h2>
        <p>Nos adentramos en la inmensidad de las sierras grandes hasta alcanzar 
            el punto más elevado de Córdoba, la cumbre del Cerro 
            Champaquí con sus 2792 msnm. Un gran desafío de 3 días y más de 40
             kilómetros para superar limites y 
            disfrutar del increíble entorno natural de las sierras.</p>
    </div>
    <!-- itinerario -->
    <div>
        <h2 class="h2">ITINERARIO</h2>
        <p><span class="span">Día 1:</span> La travesía comienza en la localidad de Villa Alpina, ubicada a
             39 kms de Villa General Belgrano. Desde allí iniciamos la caminata hacia la
              zona de refugios, atravesando el pinar, puesto Moisés López, desierto de la
               virgen hasta alcanzar la zona del río tabaquillos, lugar en el que se
                encuentran los refugios  y donde se servirá la merienda, posteriormente la cena y
             se pernoctará. El total es de 13 kms de recorrido en esta jornada.</p>

        <br> <p><span class="span">Día 2:</span> En esta jornada, ya sin el peso de las mochilas desarrollamos el
             recorrido de alrededor de 4 horas hacia la cumbre de 2790 msnm.
              Allí dedicaremos el tiempo necesario para el disfrute en el punto más alto de la
            provincia de Córdoba. Por la tarde se desciende nuevamente a la zona de
            refugios donde pasaremos la segunda noche. El total es de 14 kms de recorrido en esta jornada.</p>
        <br> <p><span class="span">Día 3:</span> Desandaremos el recorrido de la primera jornada y finalizando 
            la aventura alrededor de las 14 hs nuevamente en Villa Alpina, donde
             almorzaremos y daremos cierre a la actividad posteriormente.</p>
    </div>
    <!-- equipamiento necesario -->
    <div>
        <h2 class="h2">EQUIPAMIENTO NECESARIO</h2>
        <div class="col_1">
            <div>
                <li>1 Mochila con capacidad para bolsa de dormir y ropa.</li>
                <li>1 Bolsa de dormir.</li>
                <li>1 Campera de abrigo (Evitar camperas pesadas)</li>
                <li>1 Buzo (tipo polar o bien abrigado).</li>
                <li>Remeras (las sintéticas/deportivas son más convenientes para la actividad)</li>
                <li>1 Pantalón (trekking o bombacha gaucha).</li>
                <li>Medias y ropa interior.</li>
                <li>1 Calzado de trekking o deportivas, más otro para la noche en el refugio.</li>
                <li>Protector solar + Gorra o sombrero (muy importante)</li>
                <li>1 Gorro de lana, Guantes (las temperaturas suelen ser muy bajas depende las condiciones del tiempo, especialmente en cumbre por la noche)</li>
                <li>1 Toallón y elementos de higiene personal.</li>
                <li>Linterna, preferiblemente frontal.</li>
                <li>1 prenda impermeable (las capas impermeables de nylon, económicas, suelen ser muy eficientes si no se cuenta con otra prenda).</li>
                <li>Recomendamos guardar la ropa en bolsas de nylon dentro de la mochila para asegurar la impermeabilidad.</li>
            </div>
        </div>
    </div>
    <div class="champis">
        <img src="/static/img/champa_2.webp" alt="Trekking en el cerro champaquí">
    </div>
    <!-- preguntas frecuentes -->
    <div class="preguntas">
        <h2 class="h2">PREGUNTAS FRECUENTES</h2>
        <div>
            <li class="h3">¿Cómo están conformados los grupos?</li>
            <p>Los integrantes del grupo varían en cada salida. En ocasiones son personas que vienen solas, o en pareja, entre amigos o en familia.</p>
        </div>
        <div>
            <li class="h3">¿Que cantidad de personas conforman el grupo?</li>
            <p>El mínimo de personas para la realización de la salida es de 5 (puede suspenderse la salida si no se completa ese cupo). El cupo máximo está fijado en 15 personas.</p>
        </div>
        <div>
            <li class="h3">¿Como son las habitaciones?</li>
            <p>Las habitaciones en los refugios de montaña son compartidas unisex, cuentan con camas cuchetas y colchones, necesario bolsa de dormir.</p>
        </div>
        <div>
            <li class="h3">¿Cuánta agua se debe llevar?</li>
            <p>Se recomienda recipientes con capacidad para 1,5 litros como mínimo . En el sendero tendremos varios puntos para recargar de vertientes y arroyos.</p>
        </div>
        <div>
            <li class="h3">¿Hay duchas?</li>
            <p>Los puestos cuentan con agua caliente, deberemos respetar tiempos de ducha muy cortos para que el agua alcance para todas las personas del lugar.</p>
        </div>
        <div>
            <li class="h3">¿Hay río o lugares para disfrutar del agua?</li>
            <p>Sí, nos alojamos en cercanías del río Tabaquillos. También hay probabilidades de visitar ollas y cascadas, donde podremos nadar y disfrutar, si las condiciones del tiempo y otros factores como horarios lo permiten.</p>
        </div>
        <div>
            <li class="h3">¿Hay WiFi?</li>
            <p>No hay WiFi, nos conectamos con la naturaleza.</p>
        </div>
        <div>
            <li class="h3">¿Se necesita preparación previa para realizar el ascenso?</li>
            <p>Si bien es una actividad exigente, no se requiera una preparación física especial. Sin embargo no es apto para personas sedentarias o que no hagan ningún tipo de actividad física. Indispensable contar con una gran voluntad, resistencia y predisposición para realizar la actividad. Se caminan entre 13 y 14 kilómetros por día (mucho más demandantes que en el llano por lo que no se debe tomar como referencia la cantidad de kilómetros), en jornadas de 7 u 8 horas aproximadamente, dependiendo siempre del ritmo de cada grupo.</p>
        </div>
        <div>
            <li class="h3">¿Se suspende por mal tiempo?</li>
            <p>La excursión al Champaquí no se suspende por mal tiempo, el día de cumbre se evalúan las condiciones y se determina si es posible llegar a la cumbre. Si no están dadas las condiciones de seguridad puede no completarse este tramo del recorrido.</p>
        </div>
        <div>
            <li class="h3">¿Me devuelven el dinero de la reserva si no asisto a la salida?</li>
            <p>Lamentablemente no podemos devolver el dinero de la reserva, nuestra logística para este tipo de salidas incluye reservas de alojamiento y comidas en diferentes lugares por lo que no es posible el reintegro.</p>
        </div>
    </div>
    <!-- precio -->
    <div class="precio">
        <p>PRECIO PROMOCIONAL RESERVANDO HASTA EL 31 DE MAYO: </p>
        <li>Del 15 al 17:$130.000 P/Persona</li>
        <li>Del 20 al 22 $138.000 P/Persona</li>
        <p>Se reserva abonando el 30% del valor de la salida. (Transferencia o Tarjetas de crédito a través de MercadoPago)</p>
    </div>
</main>
{% endblock %}