{% extends "base.html" %}

{% block title %}La Cumbrecita{% endblock %}

{% block content %}
<main class="main">
    <h2 class="titulo_paginas"></h2>
    
    <!-- datos para la salida -->
    <div>
        <div class="col_1">
            <h3></h3>
            <p></p>
        </div>
        <div class="col_2"></div>
    </div>
    <!-- Espacio para poner imagenes -->
    <!-- Espacio para poner imagenes -->
    
    <!-- que incluye y servivios adicionales -->
    <div>
        <div class="col_1"></div>
        <div class="col_2"></div>
    </div>
    <!-- descripcion -->
    <div>
        <p></p>
    </div>
    <!-- itinerario -->
    <div>
        <p></p>
    </div>
    <!-- equipamiento necesario -->
    <div>

    </div>
    <!-- preguntas frecuentes -->
    <div>

    </div>
    <!-- precio -->
    <div>
        <p></p>
    </div>
</main>
{% endblock %}